{% extends "layout.html" %}

{% block title %}
    Main page
{% endblock %}

{% block main %}
    <form action="/" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Name" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="interest" placeholder="Interest" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}